
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #17181a;
}

.top {
	margin: 0 auto;
	width: 1000px;
	height: 70px;
}


.content {
	position: relative;
	width: 1000px;
	height: 480px;
	background-color: #1f2022;
	margin: 0 auto;
	z-index: 1;
}

.content img {
	float: left;
	width: 134px;
	height: 195px;
	background-color: #fff;
	margin-left: 100px;
	margin-top: 130px;
}

.content .content-middle {
	float: left;
	width: 500px;
	height: 200px;
	margin-left: 50px;
	margin-top: 130px;
}

.content-middle p:nth-child(1) {
	font-size: 26px;
	color: #eef0f4;
	/* margin-top: 15px; */
	font-family: '宋体';
	font-weight: 700;
}

.content-middle p:nth-child(2) {
	color: #0097ff;
	font-size: 20px;
	font-family: '宋体';
}

.content-middle p:nth-child(3) {
	color: #eef0f4;
	font-size: 16px;
	margin-top: 15px;
	font-family: '宋体';
}

.content-middle p:nth-child(4) {
	color: #eef0f4;
	font-size: 16px;
	margin-top: 10px;
	font-family: '宋体';
}

.content-middle div {
	width: 600px;
	height: 200px;
	margin-top: 20px;
}

.content-middle div span {
	line-height: 24px;
	font-size: 14px;
	color: #8c8c8e;
}

.content-middle div span:hover {
	display: inline-block;
	color: #b2b4b8;
	cursor: pointer;
}

.content_left {
	position: absolute;
	top: 150px;
	right: 100px;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	background-color: #0097ff;
}

.content_left a {
	color: #fff;
	display: block;
	margin-top: 8px;
	margin-left: 29px;
	font-size: 16px;
}

.main {
	width: 1000px;
	height: 500px;
	background-color: #1f2022;
	margin: 0 auto;
	border-top: 1px solid #333333;
}

.main p {
	font-size: 30px;
	text-align: center;
	color: #bbbcbc;
	font-family: "微软雅黑";
	margin-top:30px;
}

.main p:hover{
	color: #fff;
}

.main p a{

	color: #bbbcbc;
}
.main p a:hover {
	color:#fff;
}


.main div {
	float: left;
	margin-top: 40px;
	width: 210px;
	height: 70px;
	margin-left: 30px;
	padding-top:10px;
	padding-bottom: 10px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;

}

.main div img {
	width: 50px;
	height: 70px;
	float: left;
}

.main div img:hover {
	transform: scale(1.2);
	transition: all .5s;
}

.main div>p {
	font-size: 15px;
	color: #bbbcbc;
	text-align: left;
	width: 170px;
	margin-left: 60px;
	margin-top: 10px;
	padding-top:0;
	letter-spacing:normal;
}

.main div>p:hover {
	color: #fff;
	cursor: pointer;
}

.main div>span {
	font-size: 14px;
	color: #bbbcbc;
	display: block;
	margin-left: 60px;
	margin-top: 5px;
}

.main div>span:hover {
	color: #0097ff;
	cursor: pointer;
}


.header_list {
	width: 100%;
	height: 70px;
	z-index: 999;
	position: fixed;
	background-color: #1e1f22;
	border-bottom: 1px solid #333;
}



.header_list div {
	position: relative;
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}

.header_list img {
	float: left;
	width: 150px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
}

.header_list .list_left {
	position: relative;
	width: 400px;
	height: 30px;
	margin-left: 260px;
}

.header_list .list_left svg {
	position: absolute;
	top: 25px;
	left: 270px;
}

.list_left input {
	margin-top: 20px;
	width: 300px;
	height: 30px;
	outline: none;
	border-radius: 15px;
	border: 0;
	padding-left: 20px;
	background-color: #444547;

}

.list_left input::placeholder {
	color: #c1c2c2;
}

.header_list .nav_menu {
	position: absolute;
	top: 20px;
	right: 0;
	height: 30px;
	line-height: 30px;

}

.nav_menu li {
	float: left;
	position: relative;
	list-style: none;
	color: #bbbcbc;
}

.nav_menu_li {
	margin-top: 5px;
}




.nav_menu li a {
	text-decoration: none;
	color: #bbbcbc;
	padding: 20px;
	font-size: 16px;
}

.nav_menu li a:hover {
	color: #fff;
}

.nav_menu li .nav_hidden {
	position: absolute;
	top: 45px;
	right: 0;
	display: none;
}

.nav_hidden li {
	width: 100px;
	height: 45px;
	list-style: none;
	background-color: #1e1f22;
	border-bottom: 1px solid #444;
}

.nav_hidden li a {
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	color: #bbbcbc;
}


.search {
	width: 800px;
	height: 1000px;
	margin: 0 auto;
}

.search {
	width: 700px;
	height: 200px;
}

.search img {
	margin-top: 150px;
	margin-left: 100px;
	width: 500px;
}

.search input {
	margin-top: 60px;
	width: 700px;
	height: 50px;
	font-size: 18px;
	font-family: '宋体';
	font-weight: 700;
	outline: none;
	border-radius: 25px;
	border: 0;
	padding-left: 30px;
	background-color: #444547;
}

.list_left input::placeholder {
	color: #c1c2c2;
}

#login_body {
	z-index: 999;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 500px;
}

#regist_body {
	z-index: 999;
	position: absolute;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 500px;
}

.tit {
	width: 500px;
	height: 70px;

}

.tit h1 {
	font-size: 36px;
	font-family: '宋体';
	width: 500px;
	text-align: center;
	color: #fff;
}

.tit .msg {
	color: red;
	font-size: 16px;
	display: block;
	text-align: center;
	margin-top: 3px;
}


.form table input {
	background: url(0) no-repeat;
	outline: none;
	border: 1px solid rgb(122, 153, 226);
	width: 360px;
	margin-left: 70px;
	margin-top: 10px;
	height: 40px;
	padding-left: 20px;
	color: #fbfbfb;
	font-size: 16px;
}

.form table input::placeholder {
	font-size: 14px;
	color: #dfdcdc;
}



.form table img {
	float: right;
	margin-right: 80px;
	margin-top: 10px;
	width: 100px;
	height: 40px;
}

#sub_btn {
	width: 80px;
	height: 40px;
	padding-left: 0;
	border-radius:9px;
}

.itxt {
	border-radius: 9px;
}
.password {
	border-radius:9px;
}


/*book_manager_table*/
.book_manager_table {
	width: 1200px;
	height: 300px;
	border: 0;
	margin: 0 auto;
	margin-top: 50px;
	position: absolute;
	top:25%;
	left:20%;
	color:#ffffff;
}

.book_manager_table th {
	background-color: #00A5FF;
	color: #FFFFFF;
}

.book_manager_table,
.book_manager_table th,
.book_manager_table td {
	font-size: 16px;
	text-align: center;
	padding: 4px;
	border-collapse: collapse;
}

.book_manager_table th,
.book_manager_table td {
	border: 1px solid #2087fe;
	border-width: 1px 0 1px 0;
	border: 2px inset #ffffff;
	width: 200px;
}

.book_manager_table tr {
	background-color: #1e1f22;
	border: 1px solid #ffffff;
}

.book_manager_table tr:hover {
	background-color: #dddddd;
}

